@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body, #root, .main-container, .left-part, .right-part {
  height: 100%;
}

img {
  width: 100%;
}

.main-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.left-part {
  min-width: 0;
  width: 0;
}

.left-part.left-shown {
  width: 250px;
}

.left-title {
    height: 25px;
    padding: 10px 20px;
    width: 100%;
    background-color: gray;
}

.left-title h1 {
    padding: 0;
    margin: 0;
    font-size: 25px;
    color: gainsboro;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 0;
}

.list-item {
    margin: 10px 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.left-attribution {
    font-size: 10px;
    padding: 10px 10px;
    position: absolute;
    bottom: 0px;
    right: calc(100% - 250px);
    text-align: right;
}

.left-attribution p {
    margin: 0;
    padding: 0;
}
.right-part {
  width: 100%;
}

.right-part.left-shown {
  width: calc(100% - 250px);
}

.top-menu {
  height: 25px;
  padding: 10px 10px;
  background-color: lightGrey;
  cursor: pointer;
}

.list-and-filter-title {
  margin: 0;
}

.filter-container {
  border-bottom: 1px solid #d5d8df;
}

.filter {
  width: 100%;
  font-size: 15px;
  border: 0;
  outline: none;
  padding: 10px 10px 10px 10px;
}
